.header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__logo__img {
    width: 48px;
    height: 57px;
}

.header__logo__text {
    width: 110px;
    font-weight: 900;
    color: var(--font-active);
    text-transform: uppercase;
}