.main__apartment-complex__item__slider__slides-list__slide {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.main__apartment-complex__item__slider__slides-list__slide__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    user-select: none;
}