.main__house-type {
    width: 40%;
    display: flex;
    gap: 15px;
    margin: 50px 135px 0;
}

@media (max-width: 1440px) {
    .main__house-type {
        margin: 40px 30px 0;
    }
}

@media (max-width: 800px) {
    .main__house-type {
        width: 90%;
        margin: 40px 15px;
        flex-wrap: wrap;
    }
}