* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Font variables */  
  --font-main: rgba(34, 34, 34, 1);
  --font-active: rgba(220, 63, 63, 1);
  --font-active-disabled: rgba(220, 63, 63, 0);
  --font-inactive: rgba(168, 168, 168, 1);

  /* Button variables */
  --button-font-filled: rgba(255, 255, 255, 1);
  --button-font-unfilled: rgba(220, 63, 63, 1);
  --button-filled-background: rgba(220, 63, 63, 1);
  --button-unfilled-background: rgba(255, 255, 255, 1);
  --button-border: rgba(220, 63, 63, 1);

  /* Backgrounds variables */
  --main-background: rgba(255, 255, 255, 1);
  --main-background-low-opacity: rgba(255, 255, 255, 0.5);
  --block-background: rgba(248, 248, 248, 1);
  --footer-background: rgba(219, 219, 219, 1);
}